body{
    font-family: 'Source Sans 3';
}

.flamin-go-pic{
    width: 90px;
}

#icono-usuario{
    font-size: 300%;
}

a.nav-link{
    max-width: fit-content;
    color: #C8709A;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.barra-busqueda{
    border-width: 1px;
    border-color: black;
    border-radius: 200px;
}

.navbar-brand{
    width: 10%;
}

#carrito-button{
    color: #FFFFFF;
    background-color: #C8709A;
    border-radius: 5px;
}

#carrito-button:hover{
    background-color: #c84383;
}

.container-fluid {
    width: 100%; /* Se asegura que ocupe todo el ancho */
}

.select-1 {
    float: right;
	width: 280px;
    height: 32px;
    padding: 4px 8px 4px 8px;
    background: #F7F6F6;
    color: #232323;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px 4px 4px 4px;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    margin-right: 35px; 
    margin-left: 35px;   
}

.select-2 {
    width: 210px;
    height: 25px;
    padding: 4px 8px 4px 8px;
    background: #E6E6E6;
    color: #232323;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 14px;
    text-align: left;

}

.header-1 {
    margin-bottom: 30px;
    width: auto;
    height: 32px;
}

.div-1 {
    margin-top: 30px;
    width: 26%;
    height: auto;
    float: left;
    
}

.div-2 {   
    margin-top: 30px;
    width: 74%;
    height: auto;
    float: right;
}

.rectangle-1 {
    width: 90%;
    height: 270px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    background: #F7F6F6;
    border-color: #929292;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
}

.aside-1 {
    background: #ff5252;
    width: 225px;
    height: 530px;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 20px;
    padding: 0px;
    background: #E6E6E6;
    color: #7A7A7A;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}

.scrollbar-1 {
    width: 18px;
    height: 530px;
    background: #E6E6E6;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px 12px 12px 12px;
}

.dropdown-div {
    width: 225px;
    padding: 0px;
}

.dropdown-style {
    width: 100%;
    padding: 0px;
    background-color: #E6E6E6;
    border-color: #E6E6E6;
    border-bottom-color: #000000;
    border-radius: 0%;
    color: #000000;
    text-align: start;
}

.dropdown-style:hover {
    background-color: #cecece;
    border-color: #E6E6E6;
    border-bottom-color: #000000;
    color: #313131;
}

.dropdown-item {
    position: relative; /* Necesario para posicionar las subopciones */
}

.sub-options {
    padding-left: 20px; /* Indentación para las subopciones */
    display: none; /* Inicialmente ocultar subopciones */
}

.dropdown-item > input[type="checkbox"]:checked ~ .sub-options {
    display: block; /* Mostrar subopciones si el checkbox está marcado */
}
.image-1 {
    width: 22%;
    height: 90%;
    background: #FFFFFF;
    border-color: #AAAAAA;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px 4px 4px 4px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.todo-lodemas{
    width: 75.5%;
    height: 100%;
    padding-right: 0px;
}

.item-estrellas{
    width: 103.85%;
    height: 25%;
    margin-left: 0.11%;
    padding-right: 0px;
}

.item-1 {
    width: 50%;
    height: 100%;
    color: #A45D7F;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 40px;
    text-align: left;
    float:left;
    padding: 0px;
}

.tienda-x {
    width: 102%;
    height: 10%;
    color: #444444;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    float:left;
}

.fa-star{
    height: 25%;
    width: 10%;
}

.conjunto_estrellas{
    width: 100%;
    height: 100%;
    float:left;
    color : #c0c0c0;
    .checked {
        color: #6b6b6b;
    }
    padding: 0px;
    font-size: 30px;
    text-align: right;
    justify-content: space-between;
}

.precio{
    width: 35%;
    height: 85%;
    color: #A45D7F;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 60px;
    text-align: left;
    padding: 0;
}

.carrito{
    width: 35%;
    height: 85%;
    color: #B8635F;
    padding: 0px;
    margin: 0px;
    margin-top: 18px;
    font-size: 300%;
    text-align: right;
}

.precio-carrito{
    width: 103.85%;
    margin-left: 0.11%;
    margin-top: 10%;
}

.navegador {
    justify-content: center;
    margin-top: 20px;
}

.color-rosa{
    color:#A45D7F
}

.background-rosa{
    background:#A45D7F ;
}

.color-marron{
    color:#B8635F
}

.color-blanco{
    color: #E6E6E6;
}

.imagen-utec{
    border-radius: 6px 6px 6px 6px;  
    width: 154px;
    height: 65px;
}

.scrolleable{
    overflow-y:scroll;
}

.footer-segundaParte-{
    margin-left: 40px;
}

.navigator-menu{
    width: 704px;
    height: 60px;
    padding: 0px;
    background: #E6E6E6;
    border-color: #CCCCCC;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 20%;
}

.navigator-page{
    color:#A45D7F;
    background-color: #E6E6E6;
}

.navigator-page:hover{
    color:#884c69;
    background-color: #cecece;
}

.pagination .activa .page-link{
    color: #E6E6E6; 
    background-color: #A45D7F; 
    border-color: #A45D7F; 
}

@media (max-width: 1207px) {
    
    .conjunto_estrellas{
        font-size: 22px;
    }
    
}

@media (max-width: 941px) {
    
    .conjunto_estrellas{
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    
    .item-1{
        font-size: 30px;
    }

    .tienda-x{
        font-size: 20px;
    }

    .precio{
        font-size: 40px;
    }

    .carrito{
        font-size: 40px;
    }
    
}

@media (max-width: 517px) {
    .conjunto_estrellas{
        font-size: 15px;
    }
}


