.linea-resumen {
    margin-bottom: 10px;
    margin-top: 10px;
}

#precio-container {
    font-size: 2rem;
}

#numero-producto {
    text-align: end;
    color: lightgray;
    font-size: 0.7rem;
}

#agregar-al-carrito {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 50px;
}

#cantidad-input {
    max-width: min-content;
    width: 80px;
}

h2 {
    margin-left: 5%;
    margin-bottom: 20px;
    margin-top: 20px;
}

#especificaciones-container {
    margin-left: 6%;
}

@media only screen and (max-width: 768px) {
    #informacion-producto-container {
        text-align: center;
        margin-bottom: 15px;
    }
}

.carta-comentarios {
    display: flex;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    align-items: flex-start;
    margin-bottom: 15px;
}

.informacion-usuario {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
}

.imagen-usuario {
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.informacion-usuario h4 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.fecha {
    margin: 2px 0;
    color: #888;
    font-size: 12px;
}

.estrellas {
    display: flex;
    gap: 3px;
}

.texto-comentario {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    max-width: 100%;
    word-break: break-all;
}

.respuestas-comentario {
    margin-left: 50px;
    max-width: 100%;
}

.carta-comentarios.respuesta {
    width: 90%;
    margin-left: 10%;
}

@media only screen and (max-width: 768px) {
    .carta-comentarios {
        width: 95%;
        margin-left: 0;
    }

    .respuestas-comentario {
        margin-left: 20px;
    }

    .carta-comentarios.respuesta {
        width: 90%;
        margin-left: 5%;
    }

}
