body{
    font-family: 'Source Sans 3';
}

.flamin-go-pic{
    width: 90px;
}

#icono-usuario{
    font-size: 300%;
    margin-bottom: 20px;
}

#icono-usuario2{
    font-size: 800%;
    margin:auto;
}

a.nav-link{
    max-width: fit-content;
    color: #C8709A;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.barra-busqueda{
    border-width: 1px;
    border-color: black;
    border-radius: 200px;
}

.navbar-brand{
    width: 10%;
}

#carrito-button{
    color: #FFFFFF;
    background-color: #C8709A;
    border-radius: 5px;
}

#carrito-button:hover{
    background-color: #c84383;
}

.rectangle-1 {
	width: 60%;
	height: 100%;
	padding: 15px 15px 15px 15px;
	background: #FFFFFF;
	border-color: #7A7A7A;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px 6px 6px 6px;
    margin:auto;
    text-align: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .rectangle-1 {
    width: 90%;
    }
}
.text-input-contrasena {
	width: 100%;
	height: 40%;
	padding: 0px 8px 0px 8px;
	background: #00000000;
	color: #C0C0C0;
	border-color: #929292;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px 6px 6px 6px;
	font-weight: 400;
	font-size: 18px;
	text-align: left;
}
.text-input-repContrasena {
	width: 100%;
	height: 40%;
	padding: 0px 8px 0px 8px;
	background: #00000000;
	color: #C0C0C0;
	border-color: #929292;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px 6px 6px 6px;
	font-weight: 400;
	font-size: 18px;
	text-align: left;
}
.button-1-copy-5 {
	width: 182px;
	height: 41px;
	padding: 0px 10px 0px 10px;
	background: #C8709A;
	color: #FFFFFF;
	border-color: #A45D7F;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px 6px 6px 6px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
}
.button-1-copy-3 {
	width: 182px;
	height: 41px;
	padding: 0px 10px 0px 10px;
	background: #EBEBEB;
	color: #444444;
	border-color: #EBEBEB;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px 6px 6px 6px;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
}
.image-placeholder-1 {
	width: 88px;
	height: 88px;
	background: #00000000;
	border-radius: 6px 6px 6px 6px;
}
.tituloComDato {
	width: 70%;
	height: 70%;
	color: #A45D7F;
	font-weight: bold;
	font-size: 300%;
	text-align: center;
}
.text-input-nombre {
   
	width: 202px;
	height: 41px;
    margin-top: 15px;
    margin-bottom: 15px;
	
}

.text-input-apellido {
	width: 202px;
	height: 41px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
#buttonElegirImagen {
	width: 182px;
	height: 41px;
	padding: 0px 10px 0px 10px;
	background: #C46965;
	color: #FFFFFF;
	border-color: #EBEBEB;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px 6px 6px 6px;
	font-weight: 600;
	font-size: 100%;
	text-align: center;
    margin-top: 20px;
}

.account-circle-icon-1 {
	width: 117px;
	height: 117px;
	background: #606060;
}


.date-picker-1 {
	width: 204px;
	height: 41px;
	margin-top: 15px;
    margin-bottom: 15px;
    
    
}

.textoradios{
    margin-left: 0; 
    margin-right: 5px;
	text-align: left;
}
.radios {
	text-align: left;
	border-color: #A45D7F;
	
}
.tipo-de-usuario {
    margin: auto;
    margin-top: 35px;
    margin-bottom: 15px;
	width: 153px;
	height: 28px;
	color: #606060;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}


.text-input-sitioWeb {
	
    margin-top: 3%;
    
}
.text-input-compania {
    margin-top: 3%;
    margin-bottom: 4%;
   
}	
#button-cancelar{
    margin-top: 12%;
	width: 182px;
	height: 41px;
	padding: 0px 10px 0px 10px;
	background: #EBEBEB;
	color: #444444;
	border-color: #EBEBEB;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px 6px 6px 6px;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
}
#button-registrar {
    margin-top: 12%;
	width: 182px;
	height: 41px;
	padding: 0px 10px 0px 10px;
	background: #C8709A;
	color: #FFFFFF;
	border-color: #A45D7F;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px 6px 6px 6px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
}

